www.rexab.online {
    redir https://rexab.online{uri} permanent
}

rexab.online {
    handle /api/* {
        reverse_proxy api:8000
    }

    handle /health {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}
